* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
}

a {
  text-decoration: none;
}



.wrapper {
  width: 100%;
  background-color: white;
}


.container {
  display: block;
  width: 980px;
  margin: 10px auto;
}

aside {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  background-color: white;
  h1 {
    font-size: 1.3em;
    padding-bottom: 0;
  }
  h3 {
    font-weight: normal;
    margin-bottom: 2em;
    color: gray;
    font-size: 1em;
  }
  p {
    font-size: 0.75em;
    span {
      color: lightgray;
      padding-right: 1em;
    }
  }

}



.userStats {
  display: block;
  a {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    color: blue;
    span {
      color: gray;
      font-size:0.25em;
    }
  }
}

section {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  background-color: white;
  border-top: 1px solid lightgray;

}

.repoName {
  display: block;

}

.repoNameDescrUpdate, .repoStatsLine {
  display: inline-block;
  vertical-align: top;
}

.repoNameDescrUpdate {
  width: 80%;
  text-align: left;
  h3 {
    font-weight: bold;
    color: #4183c4;
    font-size: 1.1em;
    margin-bottom: 0;
  }
  p {
    font-size: 0.75em;
    color: gray;
  }
}

.repoStatsLine {
  width: 20%;
  text-align: right;
  padding-top: 1.25em;
  span {
    font-size: 0.75em;
    color: gray;
  }
}
